body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background-color: #333;
    text-align: center;
    padding: 20px;
    color:white;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    color: white;
}

nav a{
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки */
    gap: 20px;
    width: 95%;
}


.news-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.news-item:hover {
    transform: scale(1.05);
}

.sidebar{
    display: grid;
    gap: 15px;
}




.sidebar-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    width: fit-content;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.sidebar img {
    width: 80px;
    height: 70px;
    border-radius: 8px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 15px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
}

.sidebar-content a {
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
}

.sidebar-content time {
    font-size: 14px;
    color: #777;
}